In [27]:
import pandas as pd
import numpy as np

In [28]:
%run ./support_functions.ipynb

In [29]:
data = pd.read_csv("project_data.csv")

In [30]:
info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298048 entries, 0 to 298047
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         298048 non-null  int64
 1   uids          298048 non-null  object
 2   titles        298048 non-null  object
 3   genres        298048 non-null  object
 4   ratings       298048 non-null  object
 5   scores        298048 non-null  float64
 6   votes         298048 non-null  object
 7   lengths       298048 non-null  object
 8   directors     298048 non-null  object
 9   stars         298048 non-null  object
 10  descriptions  298048 non-null  object
 11  year          298048 non-null  int64
dtypes: float64(1), int64(2), object(9)
memory usage: 27.3+ MB

In [31]:
head(data)

,index,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
0,0,tt0066026,MASH,"Comedy, Drama, War",R,7.4,67665,116,Robert Altman,"Donald Sutherland, Elliott Gould, Tom Skerritt...",The staff of a Korean War field hospital use h...,1970
1,1,tt0065988,Little Big Man,"Adventure, Comedy, Drama",PG-13,7.6,32952,139,Arthur Penn,"Dustin Hoffman, Faye Dunaway, Chief Dan George...","Jack Crabb, looking back from extreme old age,...",1970
2,2,tt0066011,Love Story,"Drama, Romance",PG,6.9,31300,100,Arthur Hiller,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",A boy and a girl from different backgrounds fa...,1970
3,3,tt0065134,Two Mules for Sister Sara,"Adventure, Romance, War",GP,7.0,24029,116,Don Siegel,"Clint Eastwood, Shirley MacLaine, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,1970
4,4,tt0065421,The AristoCats,"Animation, Adventure, Comedy",G,7.1,94523,78,Wolfgang Reitherman,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",1970

Drop index column. Remember to drop it during next data save.

In [32]:
data.drop("index", axis=1, inplace=True)

In [33]:
head(data)

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
0,tt0066026,MASH,"Comedy, Drama, War",R,7.4,67665,116,Robert Altman,"Donald Sutherland, Elliott Gould, Tom Skerritt...",The staff of a Korean War field hospital use h...,1970
1,tt0065988,Little Big Man,"Adventure, Comedy, Drama",PG-13,7.6,32952,139,Arthur Penn,"Dustin Hoffman, Faye Dunaway, Chief Dan George...","Jack Crabb, looking back from extreme old age,...",1970
2,tt0066011,Love Story,"Drama, Romance",PG,6.9,31300,100,Arthur Hiller,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",A boy and a girl from different backgrounds fa...,1970
3,tt0065134,Two Mules for Sister Sara,"Adventure, Romance, War",GP,7.0,24029,116,Don Siegel,"Clint Eastwood, Shirley MacLaine, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,1970
4,tt0065421,The AristoCats,"Animation, Adventure, Comedy",G,7.1,94523,78,Wolfgang Reitherman,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",1970

In [34]:
data[data.titles == "-1"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [35]:
data[data.uids == "-1"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [36]:
data[data.uids == -1]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [37]:
data[data.titles == "unknown"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [38]:
data.to_csv("project_data_v2.csv", index=False)

## Clean $genres$

In [43]:
data = pd.read_csv("project_data_v2.csv")

In [44]:
head(data)

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
0,tt0066026,MASH,"Comedy, Drama, War",R,7.4,67665,116,Robert Altman,"Donald Sutherland, Elliott Gould, Tom Skerritt...",The staff of a Korean War field hospital use h...,1970
1,tt0065988,Little Big Man,"Adventure, Comedy, Drama",PG-13,7.6,32952,139,Arthur Penn,"Dustin Hoffman, Faye Dunaway, Chief Dan George...","Jack Crabb, looking back from extreme old age,...",1970
2,tt0066011,Love Story,"Drama, Romance",PG,6.9,31300,100,Arthur Hiller,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",A boy and a girl from different backgrounds fa...,1970
3,tt0065134,Two Mules for Sister Sara,"Adventure, Romance, War",GP,7.0,24029,116,Don Siegel,"Clint Eastwood, Shirley MacLaine, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,1970
4,tt0065421,The AristoCats,"Animation, Adventure, Comedy",G,7.1,94523,78,Wolfgang Reitherman,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",1970

In [45]:
data.loc[data.genres == -1]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [46]:
data.loc[data.genres == "-1"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
456,tt2389704,Onna jigoku uta: Shakuhachi benten,-1,None,-1.0,-1,70,Mamoru Watanabe,"Tamaki Katori, Noriko Tatsumi, Rima Aoyama, Ji...",Add a Plot,1970
499,tt0222044,It's Not My Body,-1,None,6.9,8,80,Ron Wertheim,"Michael Castaldo, Pat Dougan, Jaqueline Friedr...",Add a Plot,1970
591,tt0154896,Mont-Dragon,-1,None,6.4,21,91,Jean Valère,"Jacques Brel, Carole André, Françoise Prévost,...","The story involves a soldier, Georges Dormond,...",1970
651,tt0196873,Psychology of the Orgasm,-1,None,5.5,8,93,Hermann Schnell,"Angelika Baumgart, Dagobert Walter, Uta Bone, ...",A female psychologist interviews four men and ...,1970
685,tt6178108,Sangamam,-1,Not Rated,-1.0,-1,155,Dada Mirasi,"Gemini Ganesan, Geethanjali, Nagesh, Vennirada...",Add a Plot,1970
...,...,...,...,...,...,...,...,...,...,...,...
298024,tt12734836,"Temporary, Like A Virus",-1,None,-1.0,-1,-1,Chris Haas,"Anna-Katharina Benz, Britt Crisp, Nathan Davis...",Add a Plot,2020
298030,tt11319278,Raggie,-1,None,-1.0,-1,-1,Meelis Arulepp,-1,Add a Plot,2020
298031,tt11434374,Peth,-1,None,-1.0,-1,-1,Abhijeet Sathe,"Suraj Desai, Mahesh Devkate, Vikas Kokare, Mah...",Add a Plot,2020
298036,tt13622584,MULT v kino. Vol 120,-1,None,-1.0,-1,-1,-1,-1,Add a Plot,2020
298045,tt13564676,Petits rêves,-1,None,-1.0,-1,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020

In [47]:
data.loc[data.genres == "-1", "genres"] = "unknown"

In [49]:
data[data.genres == "unknown"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
456,tt2389704,Onna jigoku uta: Shakuhachi benten,unknown,None,-1.0,-1,70,Mamoru Watanabe,"Tamaki Katori, Noriko Tatsumi, Rima Aoyama, Ji...",Add a Plot,1970
499,tt0222044,It's Not My Body,unknown,None,6.9,8,80,Ron Wertheim,"Michael Castaldo, Pat Dougan, Jaqueline Friedr...",Add a Plot,1970
591,tt0154896,Mont-Dragon,unknown,None,6.4,21,91,Jean Valère,"Jacques Brel, Carole André, Françoise Prévost,...","The story involves a soldier, Georges Dormond,...",1970
651,tt0196873,Psychology of the Orgasm,unknown,None,5.5,8,93,Hermann Schnell,"Angelika Baumgart, Dagobert Walter, Uta Bone, ...",A female psychologist interviews four men and ...,1970
685,tt6178108,Sangamam,unknown,Not Rated,-1.0,-1,155,Dada Mirasi,"Gemini Ganesan, Geethanjali, Nagesh, Vennirada...",Add a Plot,1970
...,...,...,...,...,...,...,...,...,...,...,...
298024,tt12734836,"Temporary, Like A Virus",unknown,None,-1.0,-1,-1,Chris Haas,"Anna-Katharina Benz, Britt Crisp, Nathan Davis...",Add a Plot,2020
298030,tt11319278,Raggie,unknown,None,-1.0,-1,-1,Meelis Arulepp,-1,Add a Plot,2020
298031,tt11434374,Peth,unknown,None,-1.0,-1,-1,Abhijeet Sathe,"Suraj Desai, Mahesh Devkate, Vikas Kokare, Mah...",Add a Plot,2020
298036,tt13622584,MULT v kino. Vol 120,unknown,None,-1.0,-1,-1,-1,-1,Add a Plot,2020
298045,tt13564676,Petits rêves,unknown,None,-1.0,-1,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020

#### Save progress

In [50]:
data.to_csv("data_togenre.csv", index=False)

## Clean ratings

In [118]:
data = pd.read_csv("data_togenre.csv")

In [51]:
data.loc[data.ratings == -1]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [52]:
data.loc[data.ratings == "-1"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

## Clean scores

In [119]:
data.loc[data.scores == "-1"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [120]:
data.loc[data.scores == -1]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
351,tt0123882,Hej Stine!,"Family, Drama",None,-1.0,-1,97,Lise Roos,"Stine Sylvestersen, Martin Højmark, August Høj...",8-year old Stine is now living in Sweden with ...,1970
456,tt2389704,Onna jigoku uta: Shakuhachi benten,unknown,None,-1.0,-1,70,Mamoru Watanabe,"Tamaki Katori, Noriko Tatsumi, Rima Aoyama, Ji...",Add a Plot,1970
547,tt1612053,Suguna Sundari Katha,Fantasy,Not Rated,-1.0,-1,122,H.S. Venu,"Devika, Ramakrishna, Kanta Rao, Vijayalalitha",Suguna Sundai Katha is a 1970 Indian Telugu fi...,1970
597,tt1020879,Gui men guan,"Drama, Mystery, Thriller",None,-1.0,-1,-1,Mitsuo Murayama,"Yun Ling, Yi Shen, Betty Ting Pei, Jeanette Yu...",A reporter and his younger sister discover an ...,1970
598,tt0154874,The Midnight Graduate,"Drama, Romance",None,-1.0,-1,70,Don Brown,"Uschi Digard, Kathy Hilton, Sue Peters, Jeff R...",Presents a young woman's odyssey in self disco...,1970
...,...,...,...,...,...,...,...,...,...,...,...
298043,tt10481968,The Lion Rock,"Comedy, Drama, Romance",None,-1.0,-1,97,Rosario Scandura,-1,"The Lion Rock is a movie rich with nostalgia, ...",2020
298044,tt13403734,Never There,Drama,None,-1.0,-1,90,Peter Morton,"Peter Morton, Makenzie Dozeman, Ronald F.T. Be...",Add a Plot,2020
298045,tt13564676,Petits rêves,unknown,None,-1.0,-1,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1.0,-1,-1,David DuBos,-1,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1.0,-1,-1,Tony Germinario,-1,Three old friends sneak onto Alcatraz in the i...,2020

In [121]:
data.scores = data.scores.astype(float)

In [122]:
data.to_csv("data_toscores.csv", index=False)

## Clean votes

In [58]:
data.loc[data.votes == "-1"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
351,tt0123882,Hej Stine!,"Family, Drama",None,-1,-1,97,Lise Roos,"Stine Sylvestersen, Martin Højmark, August Høj...",8-year old Stine is now living in Sweden with ...,1970
456,tt2389704,Onna jigoku uta: Shakuhachi benten,unknown,None,-1,-1,70,Mamoru Watanabe,"Tamaki Katori, Noriko Tatsumi, Rima Aoyama, Ji...",Add a Plot,1970
547,tt1612053,Suguna Sundari Katha,Fantasy,Not Rated,-1,-1,122,H.S. Venu,"Devika, Ramakrishna, Kanta Rao, Vijayalalitha",Suguna Sundai Katha is a 1970 Indian Telugu fi...,1970
597,tt1020879,Gui men guan,"Drama, Mystery, Thriller",None,-1,-1,-1,Mitsuo Murayama,"Yun Ling, Yi Shen, Betty Ting Pei, Jeanette Yu...",A reporter and his younger sister discover an ...,1970
598,tt0154874,The Midnight Graduate,"Drama, Romance",None,-1,-1,70,Don Brown,"Uschi Digard, Kathy Hilton, Sue Peters, Jeff R...",Presents a young woman's odyssey in self disco...,1970
...,...,...,...,...,...,...,...,...,...,...,...
298043,tt10481968,The Lion Rock,"Comedy, Drama, Romance",None,-1,-1,97,Rosario Scandura,-1,"The Lion Rock is a movie rich with nostalgia, ...",2020
298044,tt13403734,Never There,Drama,None,-1,-1,90,Peter Morton,"Peter Morton, Makenzie Dozeman, Ronald F.T. Be...",Add a Plot,2020
298045,tt13564676,Petits rêves,unknown,None,-1,-1,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1,-1,-1,David DuBos,-1,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1,-1,-1,Tony Germinario,-1,Three old friends sneak onto Alcatraz in the i...,2020

This means there are strings needing to be converted to ints. See if there are any entries with commas, eg "7,500" rather than "7500"

In [59]:
data.loc[data.votes.str.contains(",")]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
1878,tt5504144,Female Sexual Emancipation,unknown,X,-1,"104,000",-1,Neola Graef,"Neola Graef, Duane Paulsen",Add a Plot,1970
9032,tt3626354,Easy Virtue,Drama,X,-1,"188,300",82,D.L. Monty,"William Bonds, Jeannie Collins, Krista Karlsen...",Add a Plot,1972
20212,tt1353813,Shhh,Comedy,None,-1,"8,332",-1,Paul B. Price,"Rita Moreno, Robert Sacchi",Seven short films are featured in a compilatio...,1975
82779,tt0102924,Siempre felices,unknown,None,-1,"3,299,382",-1,Pedro Pinzolas,"Carlos Iglesias, Reyes Moleres, Carlos Montalvo",Add a Plot,1991
85743,tt0106187,112th & Central: Through the Eyes of the Children,Documentary,None,-1,"8,202",108,Jim Chambers,-1,This a locally-made documentary of the explora...,1992
86824,tt0103604,A3,unknown,None,-1,"3,098,631",-1,Kenan Kili,-1,Add a Plot,1992
115672,tt0206551,And Baby Makes 2,Documentary,None,-1,"4,058",58,Judy Katz,-1,Add a Plot,1999
122312,tt11192414,Black Heart,Comedy,None,-1,"16,456,789",-1,Erin Colley,"Jonathan Bailey, Maya Boyden, Michael Colton, ...","In Black Heart Gregor, Andrew, and Gabe are al...",2000
125877,tt0290791,Obscure Object of My Desire,unknown,None,-1,"23,615",-1,-1,-1,Add a Plot,2001
126529,tt0290725,Life & Death,unknown,None,-1,"48,871",-1,Angela Young,"Angela Young, Randy Robertson",Add a Plot,2001
131435,tt0326804,Choice of Weapons,unknown,None,-1,"3,077",75,Christopher Dalrymple,-1,Add a Plot,2002
136700,tt1994534,Independent Spirits: Faith Hubley/John Hubley,Documentary,Not Rated,-1,"1,551",90,Sybil DelGaudio,"John Canemaker, Faith Hubley, John Hubley, Cha...",Add a Plot,2003
151382,tt13364152,Colgado de la luna,"Horror, Thriller",None,-1,"4,236",87,Gabriel Nieve,"Victoria Cardiél, Greta Champreux, Julietta De...",There is a serial killer on the loose in Madri...,2005
157268,tt0461286,Moonlight: Unfortunately a Love Story,Comedy,None,-1,"5,156,050",-1,Raman Bharadwaj,"Kim Sharma, Shekhar Suman, Perizaad Zorabian",Add a Plot,2006
164240,tt1555840,Something for Stevie,"Action, Drama, Family",None,-1,"32,000",90,William Thomas Tucker,"Mike Noonan, Ron A. Bauman, Erin Noonan, Linda...","Stevie, a young man with Down syndrome trying ...",2007
175469,tt1518823,The Leah Daughtry Story: A Woman of Faith and ...,Documentary,Unrated,-1,"90,000",58,Ronald G. Main,"Yolanda Carraway, Leah Daughtry, Leah D. Daugh...","The documentary captures for the first time, w...",2008
177738,tt1872112,Members Only,Comedy,None,-1,"2,900",-1,Josh Brown,"Kris Brown, Landon Conley, Rylan T. Hanes, Jos...",Add a Plot,2008
178184,tt1436366,Dirge to the Sea,Drama,None,-1,"1,745",46,Adam Huston,"Christopher Annino, Cuyle Carvin, Pitt Clemons...",Based on the true story of the New London Ligh...,2008
185146,tt1327814,Willets Point,Drama,None,-1,"2,200",75,T.J. Collins,"J. Antonio Brito, Moses Caban, Rich Drezen, Ki...",A family drama that centers on Guillo and Dori...,2009
205284,tt2005277,Lost in the Future,Drama,PG-13,-1,"1,165",-1,Aaron Russman,"Richard 'Rick' Bobier, My-Ishia Cason-Brown, D...",A life long journey brings a man a peculiar se...,2011
215375,tt3090082,The Rebound,"Comedy, Romance",None,-1,"5,230",82,Wesley Knodel,"Marc Bowers, Nicki Colling, Megan Davis, Tomas...",The Rebound is a Romantic comedy that follows ...,2012
216016,tt2582244,Beyond Galilee,"Documentary, Biography, History",None,-1,"3,986",56,T.D. Antoine,-1,"In August of 1958, Dr. Martin Luther King, Jr....",2012
224747,tt3208880,Souldier,Documentary,None,-1,"1,500",72,Paul Dagostino,"Jerzy, Michael Montero",A documentary that takes a look at the rising ...,2013
225012,tt2600818,Out of Order,Drama,None,-1,"1,500,000",107,Ross Hockrow,"Clyde Baldo, Avis Boone, Andrea Cordaro, Jim E...",The is the story of the man who invented the f...,2013
254711,tt6098694,Medicine Bow,"Drama, Western",None,-1,"2,300,000",82,Adam Ciller,"Giovanni Ripa, Brian Anthony Wilson, Shaun War...",Bedlam ensues in a small Wyoming town after ou...,2016
256697,tt5272696,Generation Y,"Comedy, Drama",None,-1,"2,400",90,Frankie Hopkins,"Dvin Bahariance, Megan Black, Drew Bradford, T...",A group of ragtag twenty year olds find themse...,2016
265775,tt6513708,Maurice!,Comedy,None,-1,"40,811",-1,Tim Niverth,"Tim Niverth, Albert Knapp, Meagan Niverth, Ben...",The Spiritual Remake to Clifford (1994) 10 Yea...,2017
276602,tt8705542,Dark is the Night,"Crime, Drama",None,-1,"31,000",-1,Adriano Ricci,-1,Add a Plot,2018
285110,tt7734034,Gary Come Home,"Animation, Action, Comedy",None,-1,"452,179",45,Venicio Martinez,"Charlie, David, Emma, Eric","In GoCity, A Yellow Sponge Named, SpongeBob, L...",2019
286188,tt10260672,Chonda Pierce: Unashamed,Documentary,Not Rated,-1,"787,979",90,Rick Altizer,"Paul Aldrich, Jeff Allen, David Benham, Jason ...",Stand-up comedian Chonda Pierce presents the t...,2019
287403,tt10678786,Plácido Domingo Gala,unknown,None,-1,"52,502",120,-1,-1,An operatic gala concert event captured live o...,2019
293670,tt9901162,The Robinsons,"Action, Adventure",None,-1,"50,000",90,Aleks Alifirenko Jr.,"Bianca-Rose Lasky, Billy Hartmann, Aleks Alifi...",when a couple of kids loss their parents from ...,2020
296014,tt8389750,Parallel Policy,Documentary,None,-1,"1,000",-1,Shaune Bordere,"Donald Trump, Rick Perry, Shaune Bordere, Scot...",This film delivers a conscientious perspective...,2020

Replace the commas

In [123]:
data.loc[data.votes.str.contains(","), "votes"] = \
    data.loc[data.votes.str.contains(","), "votes"].apply(lambda x: x.replace(",", ""))

See if that worked

In [124]:
data.loc[data.votes.str.contains(",")]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [125]:
data.votes = data.votes.astype(int)

In [126]:
data.loc[data.votes < 0, "votes"] = 0

In [127]:
data.to_csv("data_tovotes.csv", index=False)

## Clean lengths

In [74]:
data.loc[data.lengths == "-1"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
421,tt0065764,Geet,"Action, Crime, Musical",None,7,96,-1,Ramanand Sagar,"Rajendra Kumar, Mala Sinha, Nasir Hussain, Kumkum",Delhi-based Kamla lives a wealthy lifestyle al...,1970
431,tt0425583,Uhaw,"Drama, Romance",None,6,11,-1,Ruben Abalos,"Merle Fernandez, Tito Galla, Lito Legaspi, Eta...","An impotent husband, his sex-starved bride, an...",1970
500,tt6078138,"Crepa padrone, crepa tranquillo",Western,None,7,7,-1,Jacques Deray,"Alain Delon, James Mason, Tony Kendall, Lionel...",Add a Plot,1970
544,tt0246848,Pehchan,"Drama, Family, Musical",None,5,25,-1,Sohanlal Kanwar,"Manoj Kumar, Babita Kapoor, Balraj Sahni, Sail...",Bombay-based Barkha lives a wealthy lifestyle ...,1970
545,tt0066589,Yaadgaar,"Musical, Adventure, Drama",None,6,26,-1,S. Ram Sharma,"Nutan, Manoj Kumar, Pran, Prem Chopra",An honest and patriotic young man learns that ...,1970
...,...,...,...,...,...,...,...,...,...,...,...
298036,tt13622584,MULT v kino. Vol 120,unknown,None,-1,0,-1,-1,-1,Add a Plot,2020
298042,tt12186546,Libelu - Abaixo a Ditadura,Documentary,None,-1,0,-1,Diógenes Muniz,"Alex Antunes, Reinaldo Azevedo, Mino Carta II,...","The student trend Liberdade e Luta, Libelu, em...",2020
298045,tt13564676,Petits rêves,unknown,None,-1,0,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1,0,-1,David DuBos,-1,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1,0,-1,Tony Germinario,-1,Three old friends sneak onto Alcatraz in the i...,2020

In [128]:
data.loc[data.lengths.str.contains(","), "lengths"] = \
    data.loc[data.lengths.str.contains(","), "lengths"].apply(lambda x: x.replace(",", ""))

In [129]:
data.lengths = data.lengths.astype(int)

In [130]:
data.to_csv("data_uptoLengths.csv", index=False)

## Clean $directors$

In [79]:
data.loc[data.directors == -1]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [80]:
data.loc[data.directors == "-1"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
1383,tt8728684,It's My Job,Comedy,None,-1,0,73,-1,-1,Amorous adventures at the office.,1970
1491,tt2203396,Escape to Exstacy,unknown,None,-1,0,-1,-1,-1,Add a Plot,1970
1626,tt3496948,Paisa Aur Zindagi,Drama,None,-1,0,-1,-1,-1,Add a Plot,1970
1781,tt3622904,Sexual Freedom in Marriage,unknown,None,-1,0,64,-1,-1,Add a Plot,1970
1839,tt12613054,Animation: The Beginning,"Documentary, Animation",None,-1,0,120,-1,-1,Add a Plot,1970
...,...,...,...,...,...,...,...,...,...,...,...
297935,tt13476406,The Glorious Pain,unknown,None,-1,0,-1,-1,-1,Add a Plot,2020
297951,tt14082476,Death of Venice,Documentary,None,-1,0,55,-1,-1,"On the night between November 12th and 13th, 2...",2020
297966,tt13537006,The Australian Ballet: Cinderella,unknown,None,-1,0,-1,-1,-1,Add a Plot,2020
298009,tt13562626,Royal Ballet 2020: Giselle,unknown,None,-1,0,-1,-1,-1,Add a Plot,2020
298036,tt13622584,MULT v kino. Vol 120,unknown,None,-1,0,-1,-1,-1,Add a Plot,2020

In [131]:
data.loc[data.directors == "-1", "directors"] = "unknown"

## Clean stars

In [82]:
data.loc[data.stars == -1]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [83]:
data.loc[data.stars == "-1"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
248,tt1045817,Blue Velvet,"Documentary, Drama",None,7,13,57,Matthias Weiss,-1,"Thomas, Wolfgang and others are ""dealers"" and ...",1970
352,tt0342707,The Longest Most Meaningless Movie in the World,"Documentary, Drama, History",None,5,172,2880,Vincent Patouillard,-1,A never ending movie that will make you want t...,1970
473,tt0229371,An Evening of Edgar Allan Poe,"Drama, Horror, Mystery",Unrated,7,924,53,Kenneth Johnson,-1,Vincent Price recites four Edgar Allen Poe sto...,1970
629,tt0065494,See You at Mao,Documentary,Not Rated,6,458,54,Jean-Luc Godard,-1,"Filmed in the UK in 1969, this documentary by ...",1970
631,tt0066299,The Right and the Wrong,Drama,R,6,16,100,Harbance Kumar,-1,"An ""anti-colonial"" movie about how people of c...",1970
...,...,...,...,...,...,...,...,...,...,...,...
298040,tt11214596,Talk for Life: English as an Additional Language,Documentary,None,9,7,62,Amel Tresnjic,-1,A heart-heartwarming documentary about a life ...,2020
298041,tt13557928,Lesbians Free Everyone - The Beijing Retrospec...,Documentary,None,-1,0,57,Beverly Ditsie,-1,Add a Plot,2020
298043,tt10481968,The Lion Rock,"Comedy, Drama, Romance",None,-1,0,97,Rosario Scandura,-1,"The Lion Rock is a movie rich with nostalgia, ...",2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1,0,-1,David DuBos,-1,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1,0,-1,Tony Germinario,-1,Three old friends sneak onto Alcatraz in the i...,2020

In [132]:
data.loc[data.stars == "-1", "stars"] = "unknown"

In [133]:
data.to_csv("data_toStars.csv", index=False)

## Clean $descriptions$

In [87]:
data.descriptions = data.descriptions.astype(str)

In [110]:
data.loc[data.descriptions == "-1"]

Empty DataFrame
Columns: [uids, titles, genres, ratings, scores, votes, lengths, directors, stars, descriptions, year]
Index: []

In [93]:
data.loc[data.descriptions.str.len() < 15, "descriptions"].unique()

array(['Add a Plot', 'Juniors', 'Cyprus War', 'The Camerons',
       'ADULTS ONLY.', 'The spin.', 'Paraya Ghar', 'Pig money.',
       'senderöe', 'He she it.', 'Hashish', 'Why Vivaldi?',
       'Mariage Mixte', 'Bar Paradise', 'Motel, Glimpse', 'Little Indio',
       'Winter travel.', 'The Burning', 'Sweetwater', 'Pihalla.',
       'Triptych', 'Fight.', 'Plot unknown.', 'Coming Soon.', 'Cicero.'],
      dtype=object)

In [99]:
len(data.loc[data.descriptions.str.len() < 15, "descriptions"].unique())

25

In [100]:
data.loc[data.descriptions.str.len() < 15]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
337,tt0228749,Los problemas de mamá,"Comedy, Drama",None,6,19,95,Alfredo B. Crevenna,"Amparo Rivelles, Joaquín Cordero, Jacqueline A...",Add a Plot,1970
456,tt2389704,Onna jigoku uta: Shakuhachi benten,unknown,None,-1,0,70,Mamoru Watanabe,"Tamaki Katori, Noriko Tatsumi, Rima Aoyama, Ji...",Add a Plot,1970
475,tt0156611,Holi Ayee Re,"Drama, Family",None,5,9,144,Harsukh Jagneshwar Bhatt,"Mala Sinha, Balraj Sahni, Premendra, Kumud Chu...",Add a Plot,1970
483,tt0200936,"Oswalt Kolle: Dein Kind, das unbekannte Wesen",Documentary,None,5,32,93,Werner M. Lenz,"Wolf-Michael Hoffmann, Martin Jente, Cornelia ...",Add a Plot,1970
499,tt0222044,It's Not My Body,unknown,None,6,8,80,Ron Wertheim,"Michael Castaldo, Pat Dougan, Jaqueline Friedr...",Add a Plot,1970
...,...,...,...,...,...,...,...,...,...,...,...
298031,tt11434374,Peth,unknown,None,-1,0,-1,Abhijeet Sathe,"Suraj Desai, Mahesh Devkate, Vikas Kokare, Mah...",Add a Plot,2020
298036,tt13622584,MULT v kino. Vol 120,unknown,None,-1,0,-1,unknown,unknown,Add a Plot,2020
298041,tt13557928,Lesbians Free Everyone - The Beijing Retrospec...,Documentary,None,-1,0,57,Beverly Ditsie,unknown,Add a Plot,2020
298044,tt13403734,Never There,Drama,None,-1,0,90,Peter Morton,"Peter Morton, Makenzie Dozeman, Ronald F.T. Be...",Add a Plot,2020
298045,tt13564676,Petits rêves,unknown,None,-1,0,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",Add a Plot,2020

Look at the shortest descriptions

In [108]:
data.loc[data.descriptions.str.len() < 20, "descriptions"].value_counts(sort=True)

Add a Plot             99019
FOR ADULTS ONLY.           8
Plot unknown.              2
Kiez - the movie.          1
a love story...            1
Motel, Glimpse             1
Pinky violence.            1
Fight.                     1
senderöe                   1
Triptych                   1
Bar Paradise               1
Sweetwater                 1
The Burning                1
Jason Zink is dead.        1
JUSTICE IS FOR ALL.        1
ADULTS ONLY.               1
A very good saga.          1
Cicero.                    1
Never at the sea.          1
Hashish                    1
Texas vampires.            1
The Changeling.            1
THE SSSSHHHHOCKER.         1
G-men vs. yakuza.          1
Cyprus War                 1
Ride simulation.           1
Trinity and Sartana        1
Forbidden love.            1
He she it.                 1
Little Indio               1
A Dragon Arrives.          1
Pig money.                 1
The Camerons               1
Coming Soon.               1
Love and revenge.          1
Pihalla.                   1
Juniors                    1
FOR ADULT'S ONLY.          1
Life is too long.          1
How loyal is Nik?          1
Paraya Ghar                1
Why Vivaldi?               1
Bread and stones.          1
A YAKUZA COMEDY.           1
A film about time.         1
The spin.                  1
Mariage Mixte              1
A robbery for love.        1
Deadly Encounter           1
Wife mother animal.        1
Winter travel.             1
Name: descriptions, dtype: int64

Change "Add a Plot", "Plot unknown." and "Coming soon." to "unknown" for consistency

In [111]:
descr = ["Add a Plot", "Plot unknown.", "Coming soon."]

In [134]:
for d in descr:
    data.loc[data.descriptions.str.contains(d), "descriptions"] = "unknown"

In [135]:
data.loc[data.descriptions.str.len() < 20, "descriptions"].value_counts(sort=True)

unknown                99023
FOR ADULTS ONLY.           8
Sweetwater                 1
Cyprus War                 1
Kiez - the movie.          1
a love story...            1
Motel, Glimpse             1
Pinky violence.            1
Fight.                     1
senderöe                   1
Triptych                   1
Bar Paradise               1
Ride simulation.           1
Trinity and Sartana        1
The Burning                1
JUSTICE IS FOR ALL.        1
ADULTS ONLY.               1
A very good saga.          1
Cicero.                    1
Never at the sea.          1
Hashish                    1
Texas vampires.            1
The Changeling.            1
THE SSSSHHHHOCKER.         1
Jason Zink is dead.        1
Winter travel.             1
How loyal is Nik?          1
Wife mother animal.        1
He she it.                 1
Little Indio               1
A Dragon Arrives.          1
Pig money.                 1
The Camerons               1
Coming Soon.               1
Love and revenge.          1
Pihalla.                   1
Juniors                    1
FOR ADULT'S ONLY.          1
Forbidden love.            1
Life is too long.          1
Paraya Ghar                1
Why Vivaldi?               1
Bread and stones.          1
A YAKUZA COMEDY.           1
A film about time.         1
The spin.                  1
Mariage Mixte              1
A robbery for love.        1
Deadly Encounter           1
G-men vs. yakuza.          1
Name: descriptions, dtype: int64

In [136]:
head(data)

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
0,tt0066026,MASH,"Comedy, Drama, War",R,7.4,67665,116,Robert Altman,"Donald Sutherland, Elliott Gould, Tom Skerritt...",The staff of a Korean War field hospital use h...,1970
1,tt0065988,Little Big Man,"Adventure, Comedy, Drama",PG-13,7.6,32952,139,Arthur Penn,"Dustin Hoffman, Faye Dunaway, Chief Dan George...","Jack Crabb, looking back from extreme old age,...",1970
2,tt0066011,Love Story,"Drama, Romance",PG,6.9,31300,100,Arthur Hiller,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",A boy and a girl from different backgrounds fa...,1970
3,tt0065134,Two Mules for Sister Sara,"Adventure, Romance, War",GP,7.0,24029,116,Don Siegel,"Clint Eastwood, Shirley MacLaine, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,1970
4,tt0065421,The AristoCats,"Animation, Adventure, Comedy",G,7.1,94523,78,Wolfgang Reitherman,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",1970

In [115]:
tail(data)

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
298043,tt10481968,The Lion Rock,"Comedy, Drama, Romance",None,-1,0,97,Rosario Scandura,unknown,"The Lion Rock is a movie rich with nostalgia, ...",2020
298044,tt13403734,Never There,Drama,None,-1,0,90,Peter Morton,"Peter Morton, Makenzie Dozeman, Ronald F.T. Be...",unknown,2020
298045,tt13564676,Petits rêves,unknown,None,-1,0,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",unknown,2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1,0,-1,David DuBos,unknown,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1,0,-1,Tony Germinario,unknown,Three old friends sneak onto Alcatraz in the i...,2020

In [137]:
data.to_csv("data_preprocessed_v2.csv", index=False)